<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin id="org.eclipse.lspcommon.jdt"
	name="Eclipse LspCommon JDT Extension">
	
   <extension-point id="projectLabelProviders"
                name="%projectLabelProviders.name"
                schema="schema/projectLabelProviders.exsd"/>
	
	<requires>
		<import plugin="org.eclipse.core.runtime" />
	</requires>
   
</plugin>